.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}

.navbarItems{
    cursor: pointer;
    color: white;
}

.navbarItems:hover{
    text-decoration: underline;
}